<div class="show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<% cl_image_path @list.photo.key, height: 300, width: 400, crop: :fill %>)">
  <div class="container">
    <h1 class="font-weight-normal"><%= @list.name %></h1>
    <%= link_to "Add a Movie", new_list_bookmark_path(@list), class: 'btn btn-light mt-3 mr-1' %>
    <a class="btn btn-secondary mt-3 ml-1" href="#lists">View lists</a>
  </div>
</div>
<div class="container my-5">
<div class="d-flex align-items-center justify-content-between mb-3">
  <h2 class="m-0">Movies</h2>
  <%= link_to "Add a Movie", new_list_bookmark_path(@list), class: 'btn btn-light' %>
</div>
<div class="row">

  <% @list.bookmarks.each do |bookmark| %>
  <div class="col-md-4 mt-3">
    <div class="card-product">
      <img src="<%= bookmark.movie.poster_url %>" />
      <div class="card-product-infos">
        <h2><%= bookmark.movie.title %></h2>
        <%= link_to "delete 🗑", bookmark_path(bookmark), class: 'btn btn-light mt-3 mr-1', method: :delete, data: { confirm: 'Are you sure though?' } %>
      </div>
    </div>

  </div>
  <% end %>
</div>
</div>

<%# https://source.unsplash.com/atsUqIm3wxo/1200x900 %>
